body{

}

#header > div:nth-child(2) > div.col.xl4.frutas{
  padding-left: 0px;

  vertical-align: bottom;
}




#aweber p{
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1550px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1350px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 600px) {

}

@media (max-width: 500px) {

}

@media (max-width: 330px) {

}

@media (max-width: 300px) {}
