@font-face {
    font-family:"HastaGrotest";
    src: url("../hasta grotesk.ttf") /* TTF file for CSS3 browsers */
}

body{

}

table{
  font-family: HastaGrotest;
}

.bg {
  background-image: url(../images/frescosecha_landing-09.png);
  height: 550px;
}

.header {
  height: 550px;
  width: 1200px;
  background-image: url(../images/frescosecha_landing.png);
  background-repeat: no-repeat;
  background-size: cover;
}



#aweber p{
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1550px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1350px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 600px) {

}

@media (max-width: 500px) {

}

@media (max-width: 330px) {

}

@media (max-width: 300px) {}
